*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

body{
    background-image: linear-gradient(45deg, white,gray 25%,white,gray);
    background-attachment :fixed;
}
#filmes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center ;
}

.filme{
    width: 45%;
    min-width: 360px;
    margin: 30px 10px 10px 10px;
    padding: 20px;
    color:white;
    background:rgba(20, 12, 51, 0.5);
    border-radius: 5px;
    box-shadow: 1px 1px 10px white;
}

.filme .efeitoFilme{
    border-top: 10px solid red;
}

.filme .nameFilme{
    float: left;
    width: 46%;
    margin: 2px;
    padding: 2px;

}

.filme .nameFilme p{
    color: rgba(226, 45, 45, 0.993);
    /*font-size: 4vw;*/
    /*font-size: calc(1em + 2vw);*/
     font-size: clamp(1em,1em + 2vw,4vw);
   
}
.filme .dataFilme{
    float: right;
    width: 46%;
    margin: 2px;
    padding: 2px;
}

.filme .dataFilme p{
    padding: 3px;
}


